@import "@angular/material/theming";
$app-warn: mat-palette($mat-red);
.row {
    margin-top: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
    margin-top: 40px;
}

.button_field_filter {
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    font-size: 14px;
    width: 15px;
    border-radius: 16px;
    height: 15px;
    cursor: pointer;
}

td,
th {
    max-width: 300px;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    width: max-content ;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

td>span {
    max-width: 300px;
    width: max-content;
}

.acciones {
    margin: 0 auto;
}

.card-header i {
    font-size: 24px;
    width: 33px;
    height: 33px;
    line-height: 33px;
    color: #fff;
}

.card-content {
    position: relative;
}

.card-title {
    padding-left: 80px;
}

table {
    width: 100%;
    thead {
        text-transform: capitalize;
        td {
            display: flex;
            flex-flow: row;
        }
    }
    td,
    th {
        text-align: center;
        align-items: center
    }
    td:last-child,
    th:last-child {
        border-right: none;
        text-align: center;
        padding: 2px;
    }
    .mat-row {
        .mat-column-acciones {
            div {
                margin: 0;
                justify-content: center;
            }
        }
    }
}

:host ::ng-deep .mat-mdc-header-row,
.mat-mdc-header-row>th {
    background-color: #eeeeee;
    text-transform: capitalize;
    .mat-header-cell {
        font-weight: bold;
    }
}

.print-button {
    background-color: #999999;
}

.mat-column-acciones {
    div {
        margin: 0;
        justify-content: center;
        div {
            margin: 0;
            justify-content: center;
        }
    }
    button {
        opacity: 0.8;
    }
}

.mat-sort-header-container {
    display: flex;
    cursor: pointer;
    justify-content: center !important;
    align-items: center;
}

.left-row {
    text-align: left !important;
}

.right-row {
    text-align: right !important;
}

.left-header {
    justify-content: left !important;
}

:host ::ng-deep table .mat-sort-header-container {
    justify-content: center !important;
}

.action-column-text {
    color: #fff;
}

:host ::ng-deep mat-form-field.noPadding>.mat-form-field-wrapper {
    padding-bottom: 2px !important;
}

.no-padding {
    padding: 0px !important;
}

.mat-cell,
.mat-footer-cell {
    font-size: 12px;
}

.mat-header-cell {
    font-size: 11px;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(2) {
    left: 70px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(3) {
    left: 134px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(4) {
    left: 199px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(5) {
    left: 250px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(6) {
    left: 296px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(7) {
    left: 376px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(4) {
    left: 199px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(5) {
    left: 250px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(6) {
    left: 296px !important;
}

:host ::ng-deep .mat-mdc-table-sticky:nth-child(7) {
    left: 376px !important;
}


.max-height-table {
    max-height: 800px;
}

::ng-deep td .mat-form-field-wrapper {
    padding: 0px !important;
}

mat-form-field {
    text-align: center !important;
}

:host ::ng-deep .mat-button-toggle-checked {
    background-color: mat-color($app-warn);
    color: #fff;
}

:host ::ng-deep table.compact tr {
    height: unset !important;
}

:host ::ng-deep table.compact td {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

:host ::ng-deep table.zebra tr:nth-child(even) {
    background-color: #eeeeee61;
}

:host ::ng-deep table.zebra tr:hover {
    background-color: #eeeeee61;
}

:host::ng-deep .mat-mdc-form-field-subscript-wrapper.mat-mdc-form-field-bottom-align {
    height: 0px;
}

table.compact button {
    height: 20px;
    min-height: 20px !important;
    min-width: 20px !important;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1;
}

table.compact em {
    line-height: 20px;
    font-size: 12px;
}

table.compact .mat-column-acciones div {
    max-width: 120px;
}

.text-indent {
    text-indent: 2em !important;
}

.font-weight {
    font-weight: bold !important;
}

.inputStyle {
    border-color: white;
    border-style: none;
}

.cursor-events{
	cursor: pointer;
}

input.editable-input{
	max-width: 50px;
}

:host ::ng-deep td {
	border: #dee3ed 1px solid !important;
}
	
:host ::ng-deep  th {
	border: #dee3ed 1px solid !important;
}

.rotate-90{
	transform: rotate(-90deg);
	max-width: 30px;
	min-height: 100px;
	margin-top: -15px;
	align-items: center;
}