<div [formGroup]="firstFormGroup">
  <mat-form-field>
    <mat-select formControlName="select" placeholder="{{title | translate}}" [multiple]="multiple" #multiSelect
      (selectionChange)="sendDataItems($event.value)">
      <mat-option>
        <ngx-mat-select-search placeholderLabel="{{ 'buscar' | translate }}" showToggleAllCheckbox="true"
          (toggleAll)="toggleSelectAll($event)" [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
      </mat-option>

      <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
        <div *ngFor="let i of bank  | keyvalue">
            <div *ngIf="i.key==name">{{i.value}}</div>
          </div>
      </mat-option>

    </mat-select>
  </mat-form-field>
</div>