.dropzone {
	a {
		text-decoration: none;
		color: #555;
		padding: 0;
		box-shadow: none;
	}

	&__btn {
		border-radius: 0.5rem;
		padding: 0.6rem;
		justify-content: center;
		margin: 0 auto;

		&--open-file {
			background-color: #54948c;
			color: white;
			display: flex;
			gap: 0.5rem;
			justify-content: center;
			align-items: center;

			&:hover {
				background-color: #63a199;
			}
		}
	}
	&__btns {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
		gap: 0.5rem;
	}
	&__dropzone {
		cursor: pointer;
		display: grid;
		align-items: center;
		background: #fff;
		border: 2px dashed #717386;
		border-radius: 0.5rem;
		font-size: var(--font-size-18);
		height: 12rem;
		overflow-x: auto;
		overflow-y: hidden;
		place-content: center space-evenly;
	}
	&__note {
		text-align: start;
		padding: 0.5rem;
		font-size: var(--font-size-12);
		color: var(--gray-600);
	}
}

:host ::ng-deep .ng-star-inserted {
	text-align: center;
	z-index: 10;
	margin: 0px;
}

:host ::ng-deep input:focus + ngx-dropzone-label {
	outline: none !important;
}

:host ::ng-deep ngx-dropzone-preview ngx-dropzone-label {
	overflow: hidden;
	text-overflow: ellipsis;
	width: auto;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	word-break: break-word;
}
